{% extends "general.html" %} {% block title %} My files {% endblock %} {% block
content %}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  header {
    margin-top: 1rem;
  }

  .droparea {
    width: 384px;
    max-width: 100%;
    height: 160px;
    border: 4px dashed grey;
    border-radius: 15px;
  }

  .selectarea {
    background-color: #292b2c;
  }
</style>
<div class="container d-flex align-items-center justify-content-around my-5">
  <div class="d-flex justify-content-center pt-3">
    <h1 class="display-3 text-white">My files</h1>
  </div>
  <section class="d-flex align-items-center justify-content-center droparea">
    <p class="text-white lead user-select-none" id="section-text">
      Drop file to the lab 🔬
    </p>
  </section>
</div>
<ul class="d-flex flex-wrap gap-5" id="files-list">
  <li style="width: 70px" id="filetemplate">
    <div class="d-flex align-items-center card bg-transparent border-0">
      <img id="filetemplate-img" class="card-img-top" src="static/_blank.png" />
      <div class="card-body p-0 pt-1">
        <p
          class="card-text text-white lead overflow-auto"
          style="font-size: 15px"
          id="filetemplateText"
        >
          filename.txt
        </p>
      </div>
      <div
        class="card-footer d-flex justify-content-around text-white pt-1 p-0 m-0"
      >
        <button
          class="d-flex align-items-center justify-content-center btn btn-danger lead btn-sm"
          style="width: 40%"
        >
          <img src="static/bin.png" width="100%" />
        </button>
        <button
          class="d-flex align-items-center justify-content-center btn btn-success lead btn-sm"
          style="width: 40%"
        >
          <img src="static/download_icon.png" width="100%" />
        </button>
      </div>
    </div>
  </li>
</ul>
<script>
  // thanks to https://www.youtube.com/watch?v=9Xh_ZpFkROI
  const getImageByName = (filename) => {};

  const initApp = () => {
    const droparea = document.querySelector(".droparea");

    // Color border
    const active = () => {
      droparea.classList.add("selectarea");
      document.getElementById("section-text").innerHTML = "right here buddy";
    };

    const inactive = () => {
      droparea.classList.remove("selectarea");
      document.getElementById("section-text").innerHTML =
        "Drop file to the lab 🔬";
    };

    // Prevent default reload for all file-related events
    const prevents = (e) => e.preventDefault();
    ["dragenter", "dragover", "dragleave", "drop"].forEach((evtName) => {
      droparea.addEventListener(evtName, prevents);
    });

    ["dragenter", "dragover"].forEach((evtName) => {
      droparea.addEventListener(evtName, active);
    });

    ["dragleave", "drop"].forEach((evtName) => {
      droparea.addEventListener(evtName, inactive);
    });

    droparea.addEventListener("drop", handleDrop);
  };

  document.addEventListener("DOMContentLoaded", initApp);

  const handleDrop = (e) => {
    const dt = e.dataTransfer;
    const files = [...dt.files];

    for (const file of files) {
      var reader = new FileReader();
      const name = file.name;
      reader.readAsArrayBuffer(file);
      reader.onload = (evt) => {
        const content = evt.target.result;
        // Here we got content and name to send
        formData = new FormData();
        formData.append("file", new Blob([content]), name);

        $(document).ready(() => {
          $.ajax({
            url: "/files",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: (res) => {
              const filesList = document.getElementById("files-list");
              // Copy hidden list item into li
              const li = document
                .getElementById("filetemplate")
                .cloneNode(true);
              li.hidden = false;

              liParagraph = li.querySelectorAll('[id="filetemplateText"]')[0];
              liParagraph.innerHTML = res.filename;
              liParagraph.id = `${res.filename}-file-body`;

              liImage = li.querySelectorAll('[id="filetemplate-img"]')[0];
              liImage.src = `data:image/png;base64, ${res.data}`;
              liImage.id = `${res.filename}-file-icon`;
              // li.textContent = returnedFilename;
              filesList.appendChild(li);
            },
          });
        });
      };
      reader.onerror = (err) => {
        console.log(err);
      };
    }
  };
</script>
{% endblock %}
