{% extends "general.html" %} {% block title %} My files {% endblock %} {% block
content %}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  header {
    margin-top: 1rem;
  }

  .droparea {
    width: 384px;
    max-width: 100%;
    height: 160px;
    border: 4px dashed grey;
    border-radius: 15px;
  }

  .selectarea {
    background-color: #292b2c;
  }
</style>
<div class="container d-flex align-items-center justify-content-around my-5">
  <div class="d-flex justify-content-center pt-3">
    <h1 class="display-3 text-white">My files</h1>
  </div>
  <section class="d-flex align-items-center justify-content-center droparea">
    <p class="text-white lead user-select-none" id="section-text">
      Drop file to the lab 🔬
    </p>
  </section>
</div>
<ul class="d-flex flex-wrap gap-5" id="files-list">
  <!-- Example li -->
  <li style="width: 70px" id="filetemplate" hidden>
    <div class="d-flex align-items-center card bg-transparent border-0">
      <img id="filetemplate-img" class="card-img-top" src="static/_blank.png" />
      <div class="card-body p-0 pt-1">
        <p
          class="card-text text-white lead overflow-auto"
          style="font-size: 15px"
          id="filetemplateText"
        >
          filename.txt
        </p>
      </div>
      <div
        class="card-footer d-flex justify-content-around text-white pt-1 p-0 m-0"
      >
        <button
          class="d-flex align-items-center justify-content-center btn btn-danger lead btn-sm"
          style="width: 40%"
          id="delete-button-template"
          onclick="deleteFile(this.id)"
        >
          <img src="static/bin.png" width="100%" />
        </button>
        <button
          class="d-flex align-items-center justify-content-center btn btn-success lead btn-sm"
          style="width: 40%"
          id="download-button-template"
          onclick="downloadFile(this.id)"
        >
          <img src="static/download_icon.png" width="100%" />
        </button>
      </div>
    </div>
  </li>
  {% for fd in files_data %}
  <!-- ID'S FOR OBJECTS ARE VERY IMPORTANT -->
  <li style="width: 70px" id="{{fd["name"]}}-list-item">
    <div class="d-flex align-items-center card bg-transparent border-0">
      <img id="{{fd["name"]}}-file-icon" class="card-img-top" src={{fd["icon_data"]}} />
      <div class="card-body p-0 pt-1">
        <p
          class="card-text text-white lead overflow-auto"
          style="font-size: 15px"
          id="{{fd["name"]}}-file-body"
        >
          {{fd["name"]}}
        </p>
      </div>
      <div
        class="card-footer d-flex justify-content-around text-white pt-1 p-0 m-0"
      >
        <button
          class="d-flex align-items-center justify-content-center btn btn-danger lead btn-sm"
          style="width: 40%"
          id="{{fd["name"]}}-delete-button"
          onclick="deleteFile(this.id)"
        >
          <img src="static/bin.png" width="100%" />
        </button>
        <button
          class="d-flex align-items-center justify-content-center btn btn-success lead btn-sm"
          style="width: 40%"
          id="{{fd["name"]}}-download-button"
          onclick="downloadFile(this.id)"
        >
          <img src="static/download_icon.png" width="100%" />
        </button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<script>
  // thanks to https://www.youtube.com/watch?v=9Xh_ZpFkROI
  const getImageByName = (filename) => {};

  const initApp = () => {
    const droparea = document.querySelector(".droparea");

    // Color border
    const active = () => {
      droparea.classList.add("selectarea");
      document.getElementById("section-text").innerHTML = "right here buddy";
    };

    const inactive = () => {
      droparea.classList.remove("selectarea");
      document.getElementById("section-text").innerHTML =
        "Drop file to the lab 🔬";
    };

    // Prevent default reload for all file-related events
    const prevents = (e) => e.preventDefault();
    ["dragenter", "dragover", "dragleave", "drop"].forEach((evtName) => {
      droparea.addEventListener(evtName, prevents);
    });

    ["dragenter", "dragover"].forEach((evtName) => {
      droparea.addEventListener(evtName, active);
    });

    ["dragleave", "drop"].forEach((evtName) => {
      droparea.addEventListener(evtName, inactive);
    });

    droparea.addEventListener("drop", handleDrop);
  };

  document.addEventListener("DOMContentLoaded", initApp);

  const handleDrop = (e) => {
    const dt = e.dataTransfer;
    const files = [...dt.files];

    for (const file of files) {
      var reader = new FileReader();
      const name = file.name;
      reader.readAsArrayBuffer(file);
      reader.onload = (evt) => {
        const content = evt.target.result;
        // Here we got content and name to send
        formData = new FormData();
        formData.append("file", new Blob([content]), name);

        $(document).ready(() => {
          $.ajax({
            url: "/files",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: (res) => {
              const filesList = document.getElementById("files-list");
              // Copy hidden list item into li (prepared for file visuals)
              const li = document
                .getElementById("filetemplate")
                .cloneNode(true);
              li.hidden = false;
              li.id = `${res.filename}-list-item`;

              // Customizing objects -> filenames, fileicons, ext...
              const liParagraph = li.querySelectorAll(
                '[id="filetemplateText"]'
              )[0];
              liParagraph.innerHTML = res.filename;
              liParagraph.id = `${res.filename}-file-body`;

              const liImage = li.querySelectorAll('[id="filetemplate-img"]')[0];
              liImage.src = `data:image/png;base64, ${res.data}`;
              liImage.id = `${res.filename}-file-icon`;

              // To enable frontend know what file he needs for this operations
              const liDownloadButton = li.querySelectorAll(
                '[id="download-button-template"]'
              )[0];
              liDownloadButton.id = `${res.filename}-download-button`;
              const liDeleteButton = li.querySelectorAll(
                '[id="delete-button-template"]'
              )[0];
              liDeleteButton.id = `${res.filename}-delete-button`;

              // li.textContent = returnedFilename;
              filesList.appendChild(li);
            },
          });
        });
      };
      reader.onerror = (err) => {
        console.log(err);
      };
    }
  };

  // A code to create temp a link to download file
  // https://stackoverflow.com/a/36899900/12432147
  function saveData(name, type, data) {
    // for new ie
    if (data !== null && navigator.msSaveBlob)
      return navigator.msSaveBlob(new Blob([data], { type: type }), name);

    var a = $("<a style='display: none;'/>");
    var url = window.URL.createObjectURL(new Blob([data], { type: type }));
    a.attr("href", url);
    a.attr("download", name);
    $("body").append(a);
    a[0].click();
    window.URL.revokeObjectURL(url);
    a.remove();
  }

  const downloadFile = (id) => {
    // Finding filename & extension from set id
    filename = id.slice(0, id.length - "-download-button".length);
    sliced = filename.split(".");
    extension = sliced[sliced.length - 1];

    $.ajax({
      url: `/files/download/${filename}`,
      type: "GET",
      success: (res) => {
        // Convert base64 to blob
        const byteCharacters = atob(res);
        const byteNumbers = new Array(byteCharacters.length);
        for (let i = 0; i < byteCharacters.length; i++) {
          byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        const byteArray = new Uint8Array(byteNumbers);
        const blob = new Blob([byteArray], { type: extension });
        saveData(filename, `data:${extension}`, blob);
      },
    });
  };

  const deleteFile = (id) => {
    console.log(id);
    filename = id.slice(0, id.length - "-delete-button".length);
    $.ajax({
      url: `/files/delete/${filename}`,
      type: "GET",
      success: (res) => {
        // Deleting visually (After serverside deletion already done)
        document.getElementById(`${filename}-list-item`).remove();
      },
      error: (err) => {
        console.log(`Error deleting: ${err}`);
      },
    });
  };
</script>
{% endblock %}
