{% extends "authbase.html" %} {% block content %}
<style>
  .form-control:focus {
    border-color: #891a1a;
    box-shadow: 0 0 0 0.2rem rgba(137, 72, 25, 0.25);
  }
</style>
<div class="d-flex justify-content-center">
  <form
    class="d-flex flex-column align-items-center lead gap-3"
    style="width: 30%"
    action="#"
    method="post"
  >
    <div class="row w-100 form-group gap-2">
      <label for="inputUser">Username or Email address</label>
      <input
        minlength="4"
        type="text"
        name="user_input"
        class="form-control bg-transparent text-white"
        id="inputUser"
        placeholder="Either ur name or @ smthin'"
      />
    </div>
    <div class="row w-100 form-group gap-2">
      <label for="exampleInputPassword1">Password</label>
      <input
        minlength="3"
        name="password"
        type="password"
        class="form-control bg-transparent text-white"
        id="exampleInputPassword1"
        placeholder="I'm blind"
      />
    </div>
    <div
      class="w-100 d-flex justify-content-between align-content-center form-group"
    >
      <div class="d-flex flex-column w-100">
        {% if err_msg %}
        <p class="form-text text-danger fs-6">{{err_msg}}</p>
        {% endif %}
        <div class="d-flex justify-content-between align-content-center">
          <p class="text-white lead fs-6">
            New to the game?
            <a class="text-white" href="/register">Register</a>
          </p>
          <button
            type="submit"
            value="submit"
            class="lead btn-custom text-white border rounded fs-6 bg-transparent border-danger"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
