{% extends "authbase.html" %} {% block content %}
<style>
  .form-control:focus {
    border-color: #891a1a;
    box-shadow: 0 0 0 0.2rem rgba(137, 72, 25, 0.25);
  }
</style>
<div class="d-flex justify-content-center">
  <form
    class="d-flex flex-column align-items-center lead gap-3"
    style="width: 30%"
    action="#"
    method="post"
  >
    <div class="w-100 form-group gap-2">
      <label for="InputEmail">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control bg-transparent text-white"
        id="InputEmail"
        placeholder="That thing with @"
      />
    </div>
    <div class="w-100 form-group gap-2">
      <label for="InputUsername">Username</label>
      <input
        minlength="4"
        name="username"
        type="text"
        maxlength="15"
        class="form-control bg-transparent text-white"
        id="InputUsername"
        placeholder="How u call urself?"
      />
    </div>
    <div class="w-100 form-group gap-2">
      <label for="InputPass">Password</label>
      <input
        minlength="4"
        name="password"
        type="password"
        class="form-control bg-transparent text-white"
        id="InputPass"
        placeholder="Won't see it anyway"
      />
    </div>
    <div
      class="w-100 d-flex justify-content-between align-content-center form-group"
    >
      <div class="d-flex flex-column w-100">
        {% if err_msg %}
        <p class="form-text text-danger fs-6">{{err_msg}}</p>
        {% endif %}
        <div class="d-flex justify-content-between align-content-center">
          <p class="text-white lead fs-6">
            Have an account?
            <a class="text-white" href="/login">Login</a>
          </p>
          <button
            type="submit"
            value="submit"
            class="lead btn-custom text-white border rounded fs-6 bg-transparent border-danger"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
